#!/usr/bin/env sh
# vi: filetype=sh

main() {
    local scripts="${PWD}"
    local plugins="$(dirname "$(dirname "${scripts}")")"

    send_cmd --icon "󰺮 " --note "Browse environment variables" --flags "-l" -- \
        sh -c "printenv | sort | column -s = -l 2 -t | fzf"
    tmux_cmd --icon "󰺮 " --note "Browse environment variables (alt)" -- \
        send-keys -l "printenv | sort | column -s = -l 2 -t | fzf" ";" \
        send-keys "Enter"
    tmux_cmd --icon "󰑕 " --note "Rename session" -- \
        command-prompt -p "session name:" "rename-session %1"
    shell_cmd --icon "󰈹 " --note "Launch firefox" -- \
        firefox
    local editor="${EDITOR:-"vim"}"
    popup_cmd --icon "󰤌 " --note "Edit this list of commands" --flags "-E" -- \
        ${editor} "${cmdfile}"
    popup_cmd -- \
        neofetch
}

main "$@"
