#!/usr/bin/env sh
# vi: filetype=sh

main() {
    local scripts="${PWD}"
    local plugins="$(dirname "$(dirname "${scripts}")")"

    local sed_env="s/^([^=]+)=/\1\t/"
    popup_cmd --icon "󰺮 " --note "Browse environment variables" --flags "-E" -- \
        sh -c "env | sed -E '${sed_env}' | fzf"
    tmux_cmd --icon "󰑕 " --note "Rename session" -- \
        command-prompt -p "session name:" "rename-session %1"
    shell_cmd --icon "󰈹 " --note "Launch firefox" -- \
        firefox
    local editor="${EDITOR:-"vim"}"
    popup_cmd --icon "󰤌 " --note "Edit this list of commands" --flags "-E" -- \
        ${editor} "${cmdfile}"
    popup_cmd -- \
        neofetch
}

main "$@"
